boto3
cython
git-lfs-http-mirror
ipympl
ipython-sql
ipython
ipywidgets
jedi-language-server
jupyterlab
jupyter-resource-usage
notebook
numpy
pandas
pip-tools
pre-commit
psycopg2-binary
python-arango
sentry-sdk
SQLAlchemy
